[submodule "themes/blog-awesome"]
	path = themes/blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
